.App {
  text-align: center;
}

.todo-item {
  display: flexbox;
  justify-content: space-between;
  align-items: center;
}

.description-wrapper p {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  letter-spacing: 0.03em;
  color: black;
}

