.button {
    
    font-size:13px;
    font-weight: 700;
    margin-left: 10px;
    padding: 3px 6px;
    background: #fef7fd;
    width:60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.096), rgba(0, 0, 0, 0.157));
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
    border-color: #edcfe8;
}